In [4]:
# Installation silencieuse et optimisÃ©e des bibliothÃ¨ques
!pip install --prefer-binary -r requirements.txt

Requirement already satisfied: pandas>=2.2.2 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 1)) (2.3.3)
Requirement already satisfied: numpy>=2.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 2)) (2.1.3)
Requirement already satisfied: matplotlib>=3.9.0 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 3)) (3.10.0)
Requirement already satisfied: seaborn>=0.13.2 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scikit-learn>=1.5.0 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 5)) (1.6.1)
Requirement already satisfied: boto3 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 6)) (1.42.24)
Requirement already satisfied: python-dotenv in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 7)) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.2.2->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.2.2->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.2.2->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.0->-r requirements.txt (line 3)) (3.2.0)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.5.0->-r requirements.txt (line 5)) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.5.0->-r requirements.txt (line 5)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.5.0->-r requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: botocore<1.43.0,>=1.42.24 in /opt/anaconda3/lib/python3.13/site-packages (from boto3->-r requirements.txt (line 6)) (1.42.24)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/lib/python3.13/site-packages (from boto3->-r requirements.txt (line 6)) (1.0.1)
Requirement already satisfied: s3transfer<0.17.0,>=0.16.0 in /opt/anaconda3/lib/python3.13/site-packages (from boto3->-r requirements.txt (line 6)) (0.16.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/anaconda3/lib/python3.13/site-packages (from botocore<1.43.0,>=1.42.24->boto3->-r requirements.txt (line 6)) (2.3.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.2->-r requirements.txt (line 1)) (1.17.0)

In [5]:
# --- 1. IMPORTATION OUTILS  ---
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from io import BytesIO
from dotenv import load_dotenv
import boto3

# --- 2. OUTILS MACHINE LEARNING (Scikit-Learn) ---
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score

# --- 3. CHARGEMENT DES ACCÃˆS ---
load_dotenv()

# --- 4. RÃ‰CUPÃ‰RATION DES DONNÃ‰ES DEPUIS LE DATA LAKE ---
def load_from_s3(file_name):
    # Connexion avec les id
    s3 = boto3.client(
        's3',
        aws_access_key_id=os.getenv('ACCESS_KEY'),
        aws_secret_access_key=os.getenv('SECRET_KEY'),
        region_name="eu-west-3"
    )
    
    # Lecture du flux de donnÃ©es
    bucket_name = os.getenv('BUCKET_NAME')
    obj = s3.get_object(Bucket=bucket_name, Key=file_name)
    
    # On ramÃ¨ne le fichier nettoyÃ© dans un DataFrame
    data = pd.read_csv(BytesIO(obj['Body'].read()), sep=';')
    return data

# --- 5. INITIALISATION ---
df = load_from_s3("bank_marketing_cleaned_v1.csv")

print(f"âœ… DonnÃ©es chargÃ©es avec succÃ¨s depuis S3.")
print(f"ðŸ“Š Dimensions du dataset : {df.shape}")
df.head()

âœ… DonnÃ©es chargÃ©es avec succÃ¨s depuis S3.
ðŸ“Š Dimensions du dataset : (45211, 18)

,age,metier,statut_matrimonial,niveau_etudes,defaut_credit,solde_bancaire,pret_immo,pret_conso,day,mois,duration,campaign,pdays,previous,resultat_precedent,souscription,segment_contact,age_group
0,58,management,married,tertiary,no,2143,yes,no,5,may,261,1,-1,0,no existant,no,Jamais contacte,Matures(46-63)
1,44,technician,single,secondary,no,29,yes,no,5,may,151,1,-1,0,no existant,no,Jamais contacte,Adultes(31-45)
2,33,entrepreneur,married,secondary,no,2,yes,yes,5,may,76,1,-1,0,no existant,no,Jamais contacte,Adultes(31-45)
3,47,blue-collar,married,unknown,no,1506,yes,no,5,may,92,1,-1,0,no existant,no,Jamais contacte,Matures(46-63)
4,33,unknown,single,unknown,no,1,no,no,5,may,198,1,-1,0,no existant,no,Jamais contacte,Adultes(31-45)